$primary: #18A0FB;
$radius: 6px;
$input-color: #F3F3F3;
$input-disabled: #99D2FA;
$input-border: #F3F3F3;

$button-color: #FFFFFF;
$button-disabled: #99D2FA;
$active: #18A0FB;

$control-height: 42px;

$m-b: 8px;
